<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/mainStyles.css">
    <title>Hbs and Express</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">Dashboard</a>
            <a href="/preferences">Preferences</a>
            <a href="/about">About</a>
            <a href="/login">Login</a>
        </nav>
    </header>
    {{{body}}}
</body>
</html>