<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>About this website...</h2>

    <p>Designed to be a customizable toolbar, independent of browser choice. A user friendly, customizable repository for all important links - with additional add-ons for news and informatics alike.</p>
</body>
</html>
