<h2>About this website...</h2>
<p>Designed to be a customizable toolbar, independent of browser choice. A user friendly, customizable repository for all important links - with additional add-ons for news and informatics alike.</p>

